* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

body {
    align-items: center;
    padding: 20px;
    margin: 20px;
    
}
button {
    width: 200px;
    background-color: darkcyan;
    border-radius: 5px;
    height: 50px;
    border: darkcyan;
    color: white;
    font-size: 18px;
}
button > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
}

button:hover {
    background-color: rgb(7, 110, 110);
    cursor: pointer;
}

img {
    width: 150px;
    object-fit: contain;
}
h2 {
    color: darkcyan;
    padding: 10px;
    margin: 10px;
    display: block;
}

p {
    font-weight: 400;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
}

form {
    width: 400px;
    padding: 10px;
    margin: 10px;
}

input {
    width: 400px;
    height: 25px;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(226, 233, 231);
}

ul {
    list-style: none;
    width: 200px;

}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    font-weight: 500;
    font-size: large;
    color: cornflowerblue;
}