<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lucky Number</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
      <h3> Your lucky number is :: {{ lucky_number }}</h3>
      <ul>
        {% for num in range(lucky_number) %}
        <li> <h5>{{ num }} </h5> </li>
          {% endfor %}
      </ul>
        
        <script src="" async defer></script>
    </body>
</html>