{% block title %} 
<title> Register </title>
{% endblock %}

{% extends 'base.html' %}

{% block content %}
    <body>
       <h3> Create user account </h3>
       <form method="POST">
        <input name="full_name" placeholder="Full name"  type="text" required />
        <input name="username" placeholder="username"  type="text" required />
        <input name="email" placeholder="email"  type="email" required />
        <input name="phone" placeholder="phone"  type="text" required />
        <input name="password" placeholder="password" type="password"  required />
        <button type="submit"> Register Now </button>
       </form>
        <script src="" async defer></script>
    </body>
{% endblock %}